@import "tailwindcss";

@theme {
  --font-fredoka: 'Fredoka', sans-serif;
  --font-primary: #000000;
  --font-secondary: #FE9800;
  --font-tertiary: #FFFFFF;
}

@layer base {
  html {
    font-size: 16px;
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-fredoka);
    background: #fffaf1;
  }

  .landing-nav a {
    text-decoration: none;
  }

  .reveal {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.7s ease-out, transform 0.7s ease-out;
  }

  .revealed {
    opacity: 1;
    transform: translateY(0);
  }

  .faq-card button {
    width: 100%;
    text-align: left;
  }

  .system-title {
    font-size: 30px;
    font-weight: 600;
    color: var(--font-secondary);
  }
}

.leaflet-container {
  z-index: 0;
}